


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}









$max:100%;


@mixin w_h{
  width:$max;
  height:$max;
}

@mixin bg{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: $max;
}

@mixin img{
    @include w_h;
   text-align: center;
}



/*scss*/
html
{
  @include w_h;
  overflow: hidden;

  body
  {
    @extend html;
    margin: 0;

    #wrapper
    {
      background: #444;
      width: $max;
      height: $max;
      padding:0;
      margin: 0;

      #header
      {
        float: left;
        background: #222;
        width:$max;
        height:40px;


        img
        {
          height:$max;
        }
      }



      #nav
      {
        background:#777;
        width:100px;
        height:$max;
        ul
        {
          li
          {
            &:hover#wrapper
            {
              background-image: url(../image/main.svg);
            }
          }
        }
      }
    }
  }
}
